<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
      crossorigin=""
    />
    <script
      src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
      integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
      crossorigin=""
    ></script>

    <title>Map</title>
  </head>
  <body>
    <div
      id="map"
      style="position: absolute; top: 0; right: 0; bottom: 0; left: 0"
    ></div>
  </body>
  <script>
    var map = L.map("map").setView([43.561854, 1.464059], 19);
    L.tileLayer("https://tile.openstreetmap.org/{z}/{x}/{y}.png", {
      maxZoom: 19,
      attribution:
        '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
    }).addTo(map);

    var navetteIcon = L.icon({
      iconUrl: "/static/navette.png",

      iconSize: [50, 50], // size of the icon
      shadowSize: [50, 64], // size of the shadow
    });

    var personIcon = L.icon({
      iconUrl: "/static/car.png",

      iconSize: [50, 50], // size of the icon
      shadowSize: [50, 64], // size of the shadow
    });

    mapMarkers = [];

    var source = new EventSource("/messages");
    source.addEventListener(
      "message",
      function (e) {
        console.log("Message: ");
        obj = JSON.parse(e.data);
        console.log(obj);
        for (var i = 0; i < mapMarkers.length; i++) {
          map.removeLayer(mapMarkers[i]);
        }
        for (var key in obj) {

          var Icon = L.icon({
            iconUrl: "/static/" + obj[key].class + ".png",

            iconSize: [50, 50], // size of the icon
            shadowSize: [50, 64], // size of the shadow
          });
          
          marker = L.marker([obj[key].latitude, obj[key].longitude], {
            icon: Icon,
          }).addTo(map);
          mapMarkers.push(marker);
        }
      },
      false
    );
  </script>
</html>
